<div class="card">
    <div class="card-header">
        {{title}} <br/>
        {{message}}
       
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2"> Designation Filter:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="designationFilter" />
            </div>
        </div> 
        <div class="row">
            <div class="col-md-6">
                <h6>Filtered by : {{designationFilter}}</h6>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" *ngIf="employees.length">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary" (click)="toggleIcon()">
                            {{showIcon?"Hide":"Show"}} avatar
                        </button>
                    </th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Designation</th>
                    <th>Insurance Balance</th>
                    <th>RBT progress</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of filteredEmployees">
                    <td>
                        <img [src]="employee.icon" *ngIf="showIcon">
                    </td>
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.designation}}</td>
                    <td>{{employee.insuranceBalance| currency:"LKR":"symbol":"3.2-2"|lkrFormatter:"Rs: "}}</td>
                    <td><em-progress-bar 
                        [progress]='employee.rbtProgress'
                        [firstName]='employee.firstName'
                        (progressClick)='onMessageRecived($event)'
                     ></em-progress-bar></td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>